#!/sbin/sh
#
## Maintained by Ben Browning <benb@bensbrowning.com>
# EXAMPLE autossh config. Rename to .bashrc.autossh and make local changes here.
# Doing so will enable autossh
#

# Map window/tab/pane names to given hosts.
work="w2"
friend="wt13p0 w1"
home="w0t0p1 w4"

### Session Operation Array ###
### This is an array of each session name we want to operate on, referenced fro$
session_arr=(work, friend, home)
